#include ".Xresources.hidpi"

! special
*.foreground:   #bbcfc5
*.background:   #282c34
*.cursorColor:  #bbcfc5

! black
*.color0:       #19161d
*.color8:       #d6c0f5

! red
*.color1:       #221f28
*.color9:       #da8548

! green
*.color2:       #342f3b
*.color10:      #98be65

! yellow
*.color3:       #46d9ff
*.color11:      #c678dd

! blue
*.color4:       #6c6379
*.color12:      #51afef

! magenta
*.color5:       #8f879a
*.color13:      #e987b5

! cyan
*.color6:       #b6b1be
*.color14:      #51afef

! white
*.color7:       #5b6268
*.color15:      #aed8eb
